/* signup.php, login.php */
#container {
  width: 280px;
  height: 330px;
  margin: 30px auto;
  background: #ddd;
  border: 5px ridge #555;
  border-radius: 10px;
  font-size: 16px;
  font-family: Verdana, sans-serif;
  text-align: center;
}
p > input {
  padding: 5px;
  border-radius: 4px;
  font-size: 14px;
  color: #111;
  border: 3px inset #666;
}
.btn {
  width: 100px;
  padding: 7px;
  border-radius: 5px;
  color: #222;
  background: #555;
  box-shadow: inset 0 -0.6em 1em -0.35em rgba(0,0,0,.5), inset 0 0.6em 2em -0.3em rgba(255,255,255,.45), inset 0 0 0em 0.05em rgba(255,255,255,.4), 0 1px 1px rgba(0,0,0,.5);
  cursor: pointer;
  margin: 0 auto 17px;
  transition: .2s;
}
.btn:hover {
  color: #fff;
  text-shadow: -3px 0 10px rgba(255,255,255,.7), 3px 0 10px rgba(255,255,255,.8);
  box-shadow: inset 0 -.3em .5em -0.15em rgba(0,0,0,0.5), inset 0 .3em 1em -0.3em rgba(255,255,255,0.45), inset 0 0 0em 0.05em rgba(255,255,255,0.4), 0 1px 1px rgba(0,0,0,.5);
}
.btn:active {
  box-shadow: none;
}
.fs12 {
  font-size: 12px;
}
.fs12 > a {
  text-decoration: none;
}
.err {
  color: #ff3d00;
  font-weight: bold;
  font-size: 13px;
  margin: 16px 5px;
}



/* rank.php */
#which-form,
#which-input {
  display: none;
}
#ranklist {
  margin-top: 10px;
}
#languages-tab {
  width: 100px;
  position: absolute;
  top: 50px;
  left: 0;
}
#rank-wrapper {
  margin: 100px auto 10px;
  width: 500px;
  color: #333;
  text-align: center;
  font-size: 12px;
}
#what-rank {
  margin: 0 auto 20px;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  border: 3px solid #aaa;
  border-radius: 5px;
}
#rank-info-title {
  margin-bottom: 5px;
}
.rank-info {
  height: 18px;
  line-height: 18px;
  margin: 7px;
  border: 1px solid skyblue;
  border-radius: 5px;
  padding: 7px 0;
}
.rank-info:last-of-type {
  margin-bottom: 50px;
}
.spn { display: inline-block; }
.span-rank { width: 10%; }
.span-user { width: 65%; }
.span-score { width: 20%; }
.span-rank { text-align: center; }
.span-user { text-align: left; }
.span-score { text-align: right; }
.span-user {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: bottom;
}
#myrank {
  color: #b13;
  background: #fdf;
  border-color: #a13;
  font-weight: bold;
}



/* profile.php */
#header-wrapper > #logout-btn {
  position: absolute;
  top: 0;
  left: 100px;
}

#edit-wrapper {
  margin: 100px auto;
  width: 600px;
  text-align: left;
  color: #333;
}
#profile {
  text-align: center;
}
.edit-title {
  font-size: 15px;
  font-weight: normal;
  text-align: center;
  margin: 5px;
  padding: 5px;
  background: #555;
  color: #fff;
  border-radius: 5px;
}
section {
  width: 590px;
  text-align: center;
  background: #fff;
  border: 2px solid #ddd;
  border-radius: 5px;
  margin: 0 0 30px;
}
ul {
  list-style: none;
}
#contents button,
#contents input,
#contents div {
  display: inline-block;
  margin: 0 0 10px;
  padding: 0;
}
#contents p {
  margin: 0 0 0 210px;
}
.current-username-c,
#contents input {
  width: 250px;
  height: 26px;
  vertical-align: top;
  border-radius: 5px;
  font-size: 15px;
  font-family: Verdana;
}
.reset-btn:hover,
.edit-btn:hover {
  opacity: .9;
}
.current-score-c,
.current-score-h {
  width: 150px;
}
.current-username-h,
label {
  display: inline-block;
  width: 200px;
}
#contents button {
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  background: #555;
  color: #fff;
  cursor: pointer;
}
#contents .modal {
  background: #777;
  color: #fff;
  width: 400px;
  height: 100px;
  padding: 20px 10px;
  margin: 0 auto;
  border: 5px solid #333;
  border-radius: 10px;
  position: fixed;
  top: 150px;
  left: 0;
  right: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  z-index: 6;
  display: none;
}
#contents .modal > button {
  width: 20%;
  margin: 30px 10px;
  background: #333;
}
#edit-username li:first-of-type {
  margin-bottom: 20px;
}
#reset-mask {
  height: 1500px;
  background: rgba(0, 0, 0, .7);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
}
